<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Create facebook campaign detail</strong>
      </div>
      <div class="card-body">

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Name Campaign              <span style="color: #ee0d0d">
              <strong>*</strong>
            </span> </label>
            <div class="col-8">
              <input type="text" [(ngModel)]="nameCampaign" class="form-control" placeholder="Please enter the project's name">
              <div class="invalid-feedback" *ngIf="errors.name">{{errors.name}}</div>
            </div>
          </div>
        </div>

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Description: </label>
            <div class="col-8">
              <textarea [(ngModel)]="description" rows="5" class="form-control" placeholder="About project..."></textarea>
            </div>
          </div>
        </div>

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">MethodAd              </label>
            <div class="col-8">
              <input type="text" disabled="true" class="form-control" value="{{nameMethodAdvertising}}" />
            </div>
          </div>
        </div>

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">TypeAd            </label>
            <div class="col-8">
              <input type="text" disabled="true" class="form-control" value="{{nameTypeAdvertising}}" />
            </div>
          </div>
        </div>

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Goal              <span style="color: #ee0d0d">
              <strong>*</strong>
            </span> </label>
            <div class="col-8">
              <select [ngClass]="{'form-control': true}" [(ngModel)]="goal">
                <option value="Target by audience">Target by audience</option>
                <option value="Brand awareness">Brand awareness</option>
                <option value="Number of people">Number of people</option>
                <option value="Approaching">Approaching</option>
                <option value="Traffic">Traffic</option>
                <option value="Interactive">Interactive</option>
                <option value="App installs">App installs</option>
                <option value="Video views">Video views</option>
                <option value="Search for potential customers">Search for potential customers</option>
                <option value="Message">Message </option>

              </select>

            </div>
          </div>
        </div>

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Location              <span style="color: #ee0d0d">
              <strong>*</strong>
            </span> </label>
            <div class="col-8">
              <input type="text" [(ngModel)]="location" class="form-control" placeholder="Please enter the location">
            </div>
          </div>
        </div>

        <!-- <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Keywords: </label>
            <div class="col-8">
              <input type="text" [(ngModel)]="keywords" class="form-control" placeholder="Please enter the keywords">
            </div>
          </div>
        </div> -->

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Budget(USD)              <span style="color: #ee0d0d">
              <strong>*</strong>
            </span> </label>
            <div class="col-8">
              <input type="text" [(ngModel)]="budget" class="form-control" placeholder="Please enter the type budget">
            </div>
          </div>
        </div>

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Start Date              <span style="color: #ee0d0d">
              <strong>*</strong>
            </span> </label>
            <div class="col-8">
              <my-date-picker #startDatePicker name="startDate-input" [options]="myDatePickerOptions" class="form-control-mydatepicker"></my-date-picker>
              <div class="invalid-feedback" *ngIf="errors.startDate">{{errors.startDate}}</div>
            </div>
          </div>
        </div>

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Deadline </label>
            <div class="col-8">
              <my-date-picker #deadlinePicker name="deadline-input" [options]="myDatePickerOptions" class="form-control-mydatepicker" disable="true"></my-date-picker>
              <div class="invalid-feedback" *ngIf="errors.deadline">{{errors.deadline}}</div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" (click)="handleCreate()">
            Create Campaign
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
