
.vs/CM_AgencyProject/v15/Server/sqlite3/storage.ide-wal
.vs/CM_AgencyProject/v15/Server/sqlite3/db.lock
.vs/CM_AgencyProject/v15/Server/sqlite3/storage.ide-shm
.vs/config/applicationhost.config
Web/Web.config
Web/Web.csproj.user
Web/Angular/node_modules

/dist/
bazel-*
e2e_test.*
node_modules
bower_components
tools/gulp-tasks/cldr/cldr-data/

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.settings/
*.swo
modules/.settings
.bazelrc
.vscode
modules/.vscode

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/
.vs/CM_AgencyProject/v15/Server/sqlite3/storage.ide
.vs/CM_AgencyProject/v15/Server/sqlite3/storage.ide
.vs/CM_AgencyProject/v15/Server/sqlite3/storage.ide
Web/Web.config
Web/Web.config
