<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Create campaign</strong>
      </div>
      <div class="card-body">
        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Phương thức </label>
            <div class="col-8">
              <select ([ngModel])="methodSelectedId" (change)="onChangeMethod($event.target.value)">
                <option *ngFor="let methodAds of methodAdvertisings" value="{{methodAds.ID}}">
                  {{methodAds.Name}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-horizontal col-6 ">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Loại </label>
            <div class="col-8">
              <select ([ngModel])="typeSelectedId" (change)="onChangeType($event.target.value)">
                <option *ngFor="let typeAds of typeAdvertisings" value="{{typeAds.ID}}">
                  {{typeAds.Name}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" (click)="goToDetail()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>